body {
  background-color: #eee;
}

#sorry, #gif, #lista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
}
a {
  text-decoration: none !important;
}

td a {
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}
td a:hover {
  color: white;
  text-shadow: 0px 0px 5px blue;
}

#gif {
}
#gif img {
  width: 200px;
}
#gif span {
  font-size: 10px;
}

#lista {

}
