@import "./index.css";

#creditos {
  display: flex;
  flex-direction: column;
  min-height: 20rem;
  margin-bottom: 1rem;
  justify-content: center;
  row-gap: 2rem;
}

.contenedorItems {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  row-gap: 1rem;

}

#creditos div:nth-child(2) ul {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

#creditos div:nth-child(2) ul li a {
  text-decoration: none;
  padding: 0 10px 0 10px;
}
#creditos div:nth-child(2) ul li a:hover {
  border-bottom: 2px solid green;
}


.title-content {
  font-size: var(--size-title-content);
}

.content {
  font-size: 20px;
  padding-left: 2rem;
}
