#curriculum {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 100%;
}

#curriculum__visualizar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 30rem;
  max-height: 100%;
  min-width: 10rem;
  max-width: 100%;
  overflow: hidden;
  /* height: 40rem; */
}


html body.ndfHFb-c4YZDc-qbOKL-OEVmcd div.ndfHFb-c4YZDc.ndfHFb-c4YZDc-AHmuwe-Hr88gd-OWB6Me.ndfHFb-c4YZDc-vyDMJf-aZ2wEe.ndfHFb-c4YZDc-i5oIFb.ndfHFb-c4YZDc-e1YmVc.ndfHFb-c4YZDc-TSZdd div.ndfHFb-c4YZDc-Wrql6b {
  display: none !important;
}
