#footer {
  font-weight: bold;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  line-height: 0.5cm;

  /* font-family: var(--fon); */

  background-color: #3F3F3F;

  color: white;
}

#footer * {
  color: white;
}

#footer__social {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  row-gap: 2rem;
  font-size: 20px;
}
#footer__social a {
  text-decoration: none;
  color: black;
}
#footer__social-iconCV:hover {
  transform: scale(1.1);
}



#footer__social-iconCV {
  display: grid;
  grid-template-areas: "a b";
  grid-column: 30px;
  grid-area: 20px 20px;
  column-gap: 1rem;
}
#footer__social-iconCV span:nth-child(1) {
  grid-area: a;
}
#footer__social-iconCV span:nth-child(2) {
  grid-area: b;
}

#footer__social #footer__ul {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

#footer__social #footer__ul li {
  font-size: 22px;
  color: black;
}
#footer__social #footer__ul li:hover {
  transform: scale(1.1);
}

#footer #footer__credito {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  text-align: center;
  font-size: 20px;
}

#footer #footer__credito p:nth-child(1){
  display: flex;
  flex-direction: column;

}
