@import "./index.css";

@keyframes ocultar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



#portafolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: var(--web-font);
  font-size: var(--size-content);

  margin-left: 2rem;
  margin-right: 2rem;
}


#totop {
  display: none;
  position: fixed;
  bottom: 4rem;
  height: 3rem;
  animation-name: ocultar;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  width: 55rem;
}

#totop i {
  z-index: 5;
  border-radius: 15px;
  border: 1px solid gray;
  padding-left: 5px;
  padding-right: 5px;
  float: right;
  position: relative;
  left: 10px;
}

#totop i:hover {
  transform: scale(1.1);
}
