@import "./index.css";

#portafolio__inicio {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  column-gap: 1rem;
  width: 50rem;
  height: 70vh;
}

#portafolio__inicio-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

#portafolio__inicio-info h1 {
  position: relative;
  bottom: 2rem;
  font-size: 35px;
  font-weight: bold;
}
#portafolio__inicio-info span:nth-child(2) {
    text-align: center;
    font-size: 22px;
    width: 22rem;
}

#portafolio__inicio-info span:nth-child(3) {
  position: relative;
  top: 1rem;
  font-size: 18px;
  width: 30rem;
}

#portafolio__inicio-imagen {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: center;
  padding: 0 1rem 0 1rem;
}

#portafolio__inicio-imagen img:nth-child(1) {
  border-radius: 50px;
  border: 1px solid red;
  width: 220px;
  height: 280px;
}
