@import "./index.css";


#portafolio__formacion {
  width: 50rem;
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  height: 100vh;
  padding-top: 1rem;
  padding-bottom: 1rem;

}
#portafolio__formacion h1 {
  font-size: var(--size-title-content);
  text-align: center;
  width: 100%;
}

#portafolio__formacion-div {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1rem;
}
#portafolio__formacion-div a {
  text-decoration: none;
}
#portafolio__formacion-div a:hover {
  color: black;
  text-shadow: 0px 1px 2px darkgray;
}



#portafolio__formacion-div div:nth-child(1) {
  padding-left: 1rem;
}

#portafolio__formacion-div div:nth-child(1) p:nth-child(1) {
  font-size: var(--size-items);
  width: 100%;
  text-align: center;
}
#portafolio__formacion-div div:nth-child(1) ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1rem;
}
#portafolio__formacion-div div:nth-child(1) ul li {
  font-size: var(--size-content);
  padding-left: 1px;
  padding-right: 1px;


}


/*           */
/* COLUMNA 2 */
/*           */


#portafolio__formacion-div div:nth-child(2) {
  padding-right: 1rem;
}

#portafolio__formacion-div div:nth-child(2) p:nth-child(1) {
  font-size: var(--size-items);
  width: 100%;
  text-align: center;
}
#portafolio__formacion-div div:nth-child(2) ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1rem;
}
#portafolio__formacion-div div:nth-child(2) ul li {
  font-size: var(--size-content);
  margin-bottom: 0.6rem;
  padding-left: 1px;
  padding-right: 1px;

}
