@import "./index.css";

#portafolio__skills-hobbies {
  width: 50rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  row-gap: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-top: 1rem;
}

#portafolio__skills-hobbies-skill {
  height: auto;
  padding-top: 1rem;
}

#portafolio__skills-hobbies-skill h1 {
  font-size: var(--size-title-content);
  text-align: center;
  width: 100%;
}

.sections-skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

.sections-skills-head {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.sections-skills-head p:nth-child(1) {
  font-size: var(--size-items);
  margin-bottom: 1rem;
}
.sections-skills-head p:nth-child(2) {
  padding-left: 5rem;
  font-size: var(--size-content);
}


.sections-skills ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  column-gap: 3rem;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: var(--size-items);
  margin: 0 auto;
}
.sections-skills ul li i {
  margin-left: 5px;
}


#portafolio__skills-hobbies-hobbies {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#portafolio__skills-hobbies-hobbies h1 {
  font-size: var(--size-title-content);
  text-align: center;
  width: 100%;

}


#portafolio__skills-hobbies-content div {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}

#portafolio__skills-hobbies-content div p {
  font-size: var(--size-content);
}

.icons {
  font-size: 20px;
}
