@import "./index.css";

#portafolio__hello {

  height: 90vh;
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50rem;

}

#portafolio__hello h1 {
  font-size: var(--size-title-content);
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

#portafolio__hello p {
  word-spacing: 2px;
  font-size: var(--size-items);
  margin-bottom: 1rem;
  line-height: 0.5cm;
}
